<h1>Hi <%= name %> </h1>
<button type="button" class="btn btn-primary"  onclick="document.location='/specialities'" >Choose the specialist</button>

<button type="button" class="btn btn-primary" onclick="document.location='/doctors'">Select Doctors</button>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>