<h1>Hi <%= name %> </h1>
<button type="button" class="btn btn-primary"  onclick="document.location='/specialities'" >Choose the specialist</button>
<br>
<button type="button" class="btn btn-primary" onclick="document.location='/doctors'">Select Doctors</button>
<br>
<form action="/logout?_method=DELETE" onclick="document.location='/login'" method="POST">
    <button type="" >Log Out</button>
</form>