<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <title>Sign-Up Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        *{
          margin: 0; padding: 0;font-family: 'Josefin Sans', sans-serif;
        }
        /* Make the image fully responsive */
        .carousel-inner img {
          width: 100%;
          height: 100%;
        }
    </style>
</head>
<body>
    <section>
        <div class="container">
            <h1 class=" text-center text-capitalize pt-5" >SignUP Form</h1>
            <hr class="w-25 mx-auto pt-5">
            <div class="w-50 mx-auto">
                <form action="/register"   method="POST">
                    <div class="form-group">
                        <label for="name">Enter Your Name:</label>
                        <input type="text" class="form-control" placeholder="Enter Name" id= "username" name= "username" value = "" maxlength = "20" required>
                      </div>
                      
                      <div class="form-group">
                        <label for="password">Enter Password:</label>
                        <input type="password" class="form-control" placeholder="Enter password" id= "password" name= "password" required>
                      </div>
                      
                    
                        <button type="" class="btn btn-primary" onclick="document.location='/login'">SignUP</button>

                        <label>Already Registered?</label>
                        <button type="" class="btn btn-primary" onclick="document.location='/login'">Login</button>
                        
                    
                    
                </form>
            </div>
        </div>
    </section>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</body>
</html>